@font-face {
  font-display: swap;
  font-family: 'Aoboshi One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aoboshi-one-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/cormorant-garamond-v21-latin-500italic.woff2') format('woff2'); 
}

body {
  background: linear-gradient(to bottom, #57b2c0 0%, #ffffff 100%); /* Personal color pallete used for domains assignment */
  background-attachment: fixed;  
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', sans-serif;
}

.page-container {
  max-width: 100%; 
  margin: 0 auto;
  padding: 1rem;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #333;
  margin-bottom: 1.2em;
  text-align: left; 
}

/* header info   */

h1 {
  font-family: 'Aoboshi One', sans-serif;
  font-size: 2.2em; 
  font-weight: bold;
  color: #222;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  font-family: 'Aoboshi One', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: #444;
  margin-bottom: 0.4em;
  text-align: center;
}

.intro-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0; 
}

.intro-container p {
  font-size: 1em;
  line-height: 1.6em;
  text-align: left; 
}


/* Job cards */
.job-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0;
}

.job-card {
  flex: 1 1 calc(33% - 2rem);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  background: #add8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.job-card img {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 1rem;
  background: #e0e0e0; 
}

.job-card a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007acc;
  text-decoration: none;
  margin-bottom: 1rem;
  display: inline-block;
}

.job-card a:hover {
  text-decoration: underline;
}

.job-card p {
  flex-grow: 1;
  color: #333;
  line-height: 1.4em;
  min-height: 100px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 800px) {
  .job-card {
    flex: 1 1 100%;
  }
}
