@font-face {
  font-display: swap;
  font-family: 'Aoboshi One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aoboshi-one-v13-latin-regular.woff2') format('woff2');
}

body {
  font-family: 'Aoboshi One', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #0b3d91;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

/* === Flexbox Navigation === */
.navbar {
  background-color: #133e7c;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #2565d0;
  border-radius: 5px;
}

main {
  text-align: center;
  padding: 2rem;
}

footer {
  background-color: #0b3d91;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
